# Default ignored files
/shelf/
/workspace.xml
/out/production/Portofolio 1/Circle.class
/out/test/Portofolio 1/MainTest.class
/out/production/Portofolio 1/Rectangle.class
/out/production/Portofolio 1/Shape.class
/out/production/Portofolio 1/Triangle.class
